<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @shop.shop_name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @shop.image ,class:"item-box-img" %>



    </div>

<% if user_signed_in? %>

  <% if current_user == @shop.user %>
    <%= link_to 'ショップの編集', edit_shop_path(@shop.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', shop_path(@shop.id), method: :delete, class:'item-destroy' %>
    
    <% end %>
<% end %>


    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">郵便番号</th>
          <td class="detail-value"><%= @shop.postal_code %></td>
        </tr>
        <tr>
          <th class="detail-item">都道府県</th>
          <td class="detail-value"><%= @shop.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">市区町村</th>
          <td class="detail-value"><%= @shop.city %></td>
        </tr>
        <tr>
          <th class="detail-item">番地</th>
          <td class="detail-value"><%= @shop.addresses %></td>
        </tr>
        <tr>
          <th class="detail-item">建物名</th>
          <td class="detail-value"><%= @shop.building %></td>
        </tr>
        <tr>
          <th class="detail-item">電話番号</th>
          <td class="detail-value"><%= @shop.phone_number %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前のスタイル
    </a>
    <a href="#" class="change-item-btn">
      後ろのスタイル ＞
    </a>
  </div>

</div>

<%= render "shared/footer" %>
